<div class="container grid-lg">
  <div class="columns">
    <div class="column center">
      <figure class="figure">
        <img src="http://lorempixel.com/400/200/city" class="img-responsive circle">
        <figcaption class="figure-caption text-center">Event Place</figcaption>
      </figure>
    </div>
    <div class="divider-vert"></div>
    <div class="column">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.label :email, class: 'form-label'  %><br />
          <%= f.email_field :email, class: 'form-input' ,autofocus: true %>
        </div>
        <div class="form-group">
          <%= f.label :password, class: 'form-label' %>
          <%= f.password_field :password, class: 'form-input',autocomplete: "off" %>
        </div>
        <% if devise_mapping.rememberable? -%>
        <div class="form-group">
          <label class="form-checkbox">
            <input type="checkbox">
            <%= f.check_box :remember_me %>
            <i class="form-icon"></i> <%= f.label :remember_me %>
          </label>
        </div>
        <% end %>
        <div class="form-group">
          <%= f.submit "Log in", class: 'btn btn-primary' %>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
